/* body {
  background: #f0f2f5;
}
.signup-form {
  max-width: 400px;
}
.signup-form-button {
  width: 100%;
} */

/* div#root {
  text-align: center;
}

.App {
}
.ant-layout-header,
.ant-layout-footer {
  
  color: #fff;
}
.ant-layout-footer {
  line-height: 1.5;
} */

/* .ant-layout-content {
  
  
  min-height: 120px;
  line-height: 120px;
} */
/* div#root > div > .ant-layout {
  margin-bottom: 48px;
}
div#root > div > .ant-layout:last-child {
  margin: 0;
} */

/* .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  grid-template-columns: 1fr 1fr;
}

.component-container {
  margin: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;

  /*  display: grid;
  grid-gap: 5px;*/
} */
